@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    overflow-y: hidden;
    background: url('./Img/birra.png') no-repeat fixed;
    background-size: cover;
    background-color: black;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo {
    height: 80px;
}

.top {
    text-align: center;
    color: white;
    font-size: 20px;
    float: left;
    padding-top: 50px;
    padding-left: 20px;
}

p {
    font-size: 15px;
    text-align: left;
    margin-top: 0;
}

h2 {
    color: white;
    font-weight: 100;
}

.container {
    display: flex;
    justify-content: center;
    min-height: 110vh;
    padding-top: 50px;
    width: 700px;
    margin: 28px;
}

.form-box {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 150px;
}

.two-forms {
    display: flex;
    gap: 70px;
    padding-bottom: 20px;
    width: 445px;
}

.input-box-email {
    display: flex;
    width: 100%;
}

.checkbox {
    color: white;
    padding-top: 20px;
    font-size: 10px;
}

.input-field {
    font-size: 15px;
    background: rgba(255, 255, 255, 0.3);
    color: white;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
}

::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.submit {
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    color: white;
    background-color: #00bf63;
    height: 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    margin-bottom: 100px;
}

.submit:hover {
    background-color: white;
    color: black;
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

/* Media query max-width 600px */
@media (max-width: 768px) {
    body {
        overflow-y: visible;
        background: url('./Img/birra3.png') no-repeat fixed;
        background-size: cover;
        background-color: black;
    }

    .top {
        padding: 0;
    }

    p {
        text-align: center;
        font-size: 15px;
    }

    .container {
        width: 100%;
    }

    .two-forms {
        width: 80%;
    }

    .input-box-email {
        width: 92%;
    }

    .submit {
        width: 92%;
    }
}

