@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --background-color-green: #00bf63;
  --background-color-darkgreen: #01a053;
  --background-color-black: #000000;
  --background-color-grey: #7d7d7d;
  --background-color-lightgrey: #b0b0b0;

  --text-color-white: #ffffff;

  --xs-font-size: 7px;
  --s-font-size: 14px;
  --m-font-size: 21px;
  --l-font-size: 28px;
  --xl-font-size: 35px;
  --xxl-font-size: 42px;
  --xxxl-font-size: 49px;

  --default-margin-l-and-r: 0 20px;
  --default-margin-t-and-b: 50px 0 0 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

body {
  min-height: 100svh;

  font-family: "Poppins";

  background-color: var(--background-color-black);
  color: var(--text-color-white);
}

nav {
  grid-column: 2/12;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 80px;
}

.box-container {
  height: 500px;

  margin: var(--default-margin-t-and-b);
}
.service-description {
  grid-column: 2/7;
  gap: 30px;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  height: 500px;
  text-align: center;
}

.service-description h1 {
  font-size: var(--xxxl-font-size);
}

.service-description p {
  font-size: var(--m-font-size);
}

.content-box {
  grid-column: 7/13;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 500px;
}

.content-box h2 {
  font-size: var(--l-font-size);

  padding: 20px 0;
}

.form-box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  width: 100%;
  height: 500px;
}

.two-forms {
  display: flex;
  gap: 10px;

  padding: 10px 0;

  width: 400px;
}

.input-box-email {
  display: flex;

  width: 100%;
}

.checkbox {
  color: var(--text-color-white);
  font-size: var(--xs-font-size);

  padding: 10px 0;
}

.input-field {
  height: 50px;
  width: 100%;

  font-size: var(--s-font-size);
  background-color: var(--background-color-grey);
  color: var(--text-color-white);

  padding: 0 20px;

  border: none;
  border-radius: 25px;
  outline: none;
}

::placeholder {
  color: var(--background-color-lightgrey);
}

.input-box {
  margin-top: 8px;
}

.submit {
  height: 50px;
  width: 100%;

  font-size: var(--s-font-size);
  color: var(--text-color-white);
  background-color: var(--background-color-green);

  border: none;
  border-radius: 25px;

  cursor: pointer;
}

.submit:hover {
  background-color: var(--background-color-darkgreen);
}

.thanks-container {
  height: 500px;

  margin-top: 50px;
}

.thanks-content {
  grid-column: 2/12;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.container-img img {
  height: 100%;
  width: 100%;
}

.footer {
  height: 120px;

  color: var(--text-color-white);
  background-color: var(--background-color-black);

  border-top: 1px solid rgb(65, 65, 65);
}

.brand-data {
  grid-column: 2/7;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;

  font-size: var(--s-font-size);
}

.brand-data img {
  height: 50px;
}

.list {
  grid-column: span 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul {
  padding: 0;
  margin: 0;

  list-style: none;

  font-size: var(--s-font-size);
}

/* Media query max-width 600px */
@media (max-width: 768px) {
  body {
    margin: 20px;
  }
  .box-container {
    height: 100%;
  }
  .service-description {
    grid-column: 2/12;
  }

  .content-box {
    grid-column: 2/12;

    margin-top: 100px;
  }
}
